<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>vue-pull-up-panels</title>
    <style>
      body {
        margin: 0;
      }
      #map {
        width: 100vw;
        height: 100vh;
      }
      input {
        left: 0;
        right: 0;
        width: 90%;
        margin: 8px auto;
        padding: 4px 12px;
        box-sizing: border-box;
        border: 0;
        background: rgba(200, 200, 200, 0.6);
        font-size: 24px;
        border-radius: 4px;
        display: block;
      }
      .item {
        position: relative;
        padding-left: 72px;
        height: 80px;
        border-top: 1px solid gray;
        box-sizing: border-box;
      }
      .thumb {
        position: absolute;
        width: 48px;
        height: 48px;
        border-radius: 24px;
        background-color: blue;
        display: inline-block;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto 12px;
      }
      .name {
        color: black;
        font-size: 32px;
        width: 100%;
        margin-top: 10px;
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
  </head>
  <body>
    <div id="app">
      <div id="map" style="z-index: 1"></div>
      <pull-up-panel style="z-index:2" height="80vh" ref="panel">
        <div slot="header">
          <input type="text" v-model="keyword" placeholder="Search something..." @focus="$refs.panel.toggleUp()" />
        </div>
        <div v-for="pos in result" :key="`${pos.x}_${pos.y}`" class="item" @click="locate(pos.x,pos.y,pos.name);$refs.panel.toggleDown();">
          <div class="thumb"></div>
          <div class="name">
            {{ pos.name }}
          </div>
        </div>
      </pull-up-panel>
    </div>
  </body>
  <script
    src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="../dist/vue_pull_up_panel.js"></script>

  <script>
    new Vue({
      el: document.querySelector('#app'),
      data: {
        keyword: '',
        marker: null,
        map: null,
        list: [
          { y: 537.5, x: 272.9, name: 'Achernar' },
          { y: 970.8, x: 25, name: 'Alcor' },
          { y: 737.5, x: 356.2, name: 'Aldebaran' },
          { y: 900, x: 325, name: 'Algol' },
          { y: 990.9, x: 235.9, name: 'Almagest' },
          { y: 450, x: 650, name: 'Altair' },
          { y: 862.5, x: 700, name: 'Andromedae, Alpha' },
          { y: 866.6, x: 710.4, name: 'Andromedae, Beta' },
          { y: 647.9, x: 754.1, name: 'Antares' },
          { y: 268.7, x: 900, name: 'Antliae, Alpha' },
          { y: 270.6, x: 891, name: 'Antliae, Beta' },
          { y: 283.1, x: 885.4, name: 'Antliae, Gamma' },
          { y: 305, x: 883.3, name: 'Antliae, Delta' },
          { y: 253.5, x: 891.7, name: 'Antliae, Epsilon' },
          { y: 258.1, x: 910.5, name: 'Antliae, Zeta' },
          { y: 258.2, x: 850.7, name: 'Apodis, Alpha' },
          { y: 259.3, x: 856.9, name: 'Apodis, Beta' },
          { y: 256.2, x: 857.2, name: 'Apodis, Gamma' },
          { y: 253.6, x: 850.4, name: 'Apodis, Delta' },
          { y: 856, x: 863.8, name: 'Aquarii, Alpha' },
          { y: 863, x: 869.3, name: 'Aquarii, Beta' },
          { y: 853.4, x: 879.7, name: 'Aquarii, Gamma' },
          { y: 858.8, x: 881.2, name: 'Aquarii, Delta' },
          { y: 875, x: 864.5, name: 'Aquarii, Epsilon' },
          { y: 862.5, x: 856.2, name: 'Aquarii, Zeta' },
          { y: 849.2, x: 857.8, name: 'Aquarii, Eta' },
          { y: 915.9, x: 974.5, name: 'Aquilae, Alpha' },
          { y: 918.6, x: 974.1, name: 'Aquilae, Beta' },
          { y: 912, x: 974.1, name: 'Aquilae, Gamma' },
          { y: 914.4, x: 968.6, name: 'Aquilae, Delta' },
          { y: 914.7, x: 979, name: 'Aquilae, Epsilon' },
          { y: 933.9, x: 84.3, name: 'Arae, Alpha' },
          { y: 933.3, x: 93.7, name: 'Arae, Beta' },
          { y: 941.9, x: 94.2, name: 'Arae, Gamma' },
          { y: 929.2, x: 75, name: 'Arae, Delta' },
          { y: 923.7, x: 82.1, name: 'Arae, Epsilon' },
          { y: 964.5, x: 579.1, name: 'Arcturus' },
          { y: 739.5, x: 175, name: 'Arianni, Alpha' },
          { y: 718.7, x: 183.3, name: 'Arianni, Beta' },
          { y: 739.5, x: 168.7, name: 'Arianni, Gamma' },
          { y: 937.5, x: 158.3, name: 'Arietis, Alpha' },
          { y: 946.9, x: 154.8, name: 'Arietis, Beta' },
          { y: 947.7, x: 167, name: 'Arietis, Gamma' },
          { y: 954.1, x: 168.7, name: 'Arietis, Delta' },
          { y: 955.9, x: 173.5, name: 'Arietis, Epsilon' },
          { y: 806.2, x: 208.3, name: 'Aurigae, Alpha' },
          { y: 808, x: 201.1, name: 'Aurigae, Beta' },
          { y: 816.3, x: 200.9, name: 'Aurigae, Gamma' },
          { y: 818.7, x: 193.7, name: 'Aurigae, Delta' },
          { y: 545.8, x: 191.6, name: 'Bellatrix' },
          { y: 412.5, x: 377, name: 'Betelgeuse' },
          { y: 22.9, x: 266.6, name: 'Bootis, Alpha' },
          { y: 35.1, x: 275.8, name: 'Bootis, Beta' },
          { y: 38.4, x: 290, name: 'Bootis, Gamma' },
          { y: 21.7, x: 250.9, name: 'Bootis, Delta' },
          { y: 13.8, x: 269.6, name: 'Bootis, Epsilon' },
          { y: 16.7, x: 287.5, name: 'Bootis, Zeta' },
          { y: 67.2, x: 286.3, name: 'Bootis, Eta' },
          { y: 620.8, x: 233.3, name: 'Brahe, Alpha' },
          { y: 639.5, x: 231.2, name: 'Brahe, Beta' },
          { y: 635.4, x: 272.9, name: 'Brahe, Gamma' },
          { y: 645.8, x: 275, name: 'Brahe, Delta' },
          { y: 641.6, x: 262.5, name: 'Brahe, Epsilon' },
          { y: 650, x: 245.8, name: 'Brahe, Zeta' },
          { y: 241.1, x: 71.8, name: 'Caeli, Alpha' },
          { y: 258.9, x: 74.1, name: 'Caeli, Beta' },
          { y: 285.4, x: 78.7, name: 'Caeli, Gamma' },
          { y: 308.9, x: 78.2, name: 'Caeli, Delta' },
          { y: 333.3, x: 80.1, name: 'Caeli, Epsilon' },
          { y: 606.2, x: 404.1, name: 'Camelopardalis, Alpha' },
          { y: 595.8, x: 408.3, name: 'Camelopardalis, Beta' },
          { y: 612.5, x: 393.7, name: 'Camelopardalis, Gamma' },
          { y: 627, x: 383.3, name: 'Camelopardalis, Delta' },
          { y: 593.7, x: 393.7, name: 'Camelopardalis, Epsilon' },
          { y: 616.6, x: 412.5, name: 'Camelopardalis, Zeta' },
          { y: 620.8, x: 422.9, name: 'Camelopardalis, Eta' },
          { y: 589.5, x: 402, name: 'Camelopardalis, Theta' },
          { y: 629.1, x: 393.7, name: 'Camelopardalis, Iota' },
          { y: 493.7, x: 514.5, name: 'Cancri, Alpha' },
          { y: 515.5, x: 512.2, name: 'Cancri, Beta' },
          { y: 500.6, x: 501.1, name: 'Cancri, Gamma' },
          { y: 509.4, x: 493.1, name: 'Cancri, Delta' },
          { y: 218.7, x: 150, name: 'Canopus' },
          { y: 424.4, x: 9.1, name: 'Capella' },
          { y: 297.9, x: 516.6, name: 'Capricorni, Alpha' },
          { y: 303.5, x: 517.8, name: 'Capricorni, Beta' },
          { y: 299.3, x: 531.8, name: 'Capricorni, Gamma' },
          { y: 362.5, x: 543.7, name: 'Carinae, Alpha' },
          { y: 341.6, x: 543.7, name: 'Carinae, Beta' },
          { y: 358.3, x: 547.9, name: 'Carinae, Gamma' },
          { y: 354.1, x: 518.7, name: 'Cassiopeiae, Alpha' },
          { y: 377, x: 525, name: 'Cassiopeiae, Beta' },
          { y: 367.9, x: 506.8, name: 'Cassiopeiae, Gamma' },
          { y: 387.5, x: 514.5, name: 'Cassiopeiae, Delta' },
          { y: 399.4, x: 518.5, name: 'Cassiopeiae, Epsilon' },
          { y: 155.9, x: 99.3, name: 'Centauri, Alpha' },
          { y: 141.2, x: 90.5, name: 'Centauri, Beta' },
          { y: 157.9, x: 111.5, name: 'Centauri, Gamma' },
          { y: 131.2, x: 126, name: 'Centauri, Delta' },
          { y: 151.5, x: 86.6, name: 'Centauri, Epsilon' },
          { y: 146.3, x: 77.9, name: 'Centauri, Zeta' },
          { y: 375, x: 583.3, name: 'Cephei, Alpha' },
          { y: 362.5, x: 575, name: 'Cephei, Beta' },
          { y: 422.1, x: 198.6, name: 'Cerenkov, Alpha' },
          { y: 450, x: 200, name: 'Cerenkov, Beta' },
          { y: 287.5, x: 447.9, name: 'Ceti, Alpha' },
          { y: 287.5, x: 404.1, name: 'Ceti, Beta' },
          { y: 303.8, x: 408.3, name: 'Ceti, Gamma' },
          { y: 293.7, x: 430.6, name: 'Ceti, Delta' },
          { y: 270.8, x: 470.8, name: 'Ceti, Epsilon' },
          { y: 289.5, x: 468.7, name: 'Ceti, Zeta' },
          { y: 281.2, x: 425, name: 'Ceti, Eta' },
          { y: 497.1, x: 710.4, name: 'Chamaeleonis, Alpha' },
          { y: 495.5, x: 703.4, name: 'Chamaeleonis, Beta' },
          { y: 489.5, x: 704.1, name: 'Chamaeleonis, Gamma' },
          { y: 485.4, x: 712.5, name: 'Chamaeleonis, Delta' },
          { y: 487.9, x: 720.1, name: 'Chamaeleonis, Epsilon' },
          { y: 495.8, x: 722.9, name: 'Chamaeleonis, Zeta' },
          { y: 508.3, x: 714.5, name: 'Chamaeleonis, Eta' },
          { y: 514.5, x: 695.8, name: 'Chamaeleonis, Theta' },
          { y: 514.5, x: 687.5, name: 'Chamaeleonis, Iota' },
          { y: 506.2, x: 675, name: 'Chamaeleonis, Kappa' },
          { y: 12.5, x: 654.1, name: 'Chandrasekhar, Alpha' },
          { y: 37.5, x: 671.6, name: 'Chandrasekhar, Beta' },
          { y: 20.8, x: 662.5, name: 'Chandrasekhar, Gamma' },
          { y: 18.7, x: 652, name: 'Chandrasekhar, Delta' },
          { y: 31.2, x: 672.8, name: 'Chandrasekhar, Epsilon' },
          { y: 39.5, x: 597.9, name: 'Circini, Alpha' },
          { y: 36.5, x: 609.3, name: 'Circini, Beta' },
          { y: 43.7, x: 627, name: 'Circini, Gamma' },
          { y: 54.1, x: 614.5, name: 'Circini, Delta' },
          { y: 56.3, x: 598, name: 'Circini, Epsilon' },
          { y: 45.6, x: 598.9, name: 'Circini, Zeta' },
          { y: 75, x: 645.8, name: 'Columbae, Alpha' },
          { y: 77, x: 660.2, name: 'Columbae, Beta' },
          { y: 72.9, x: 620.8, name: 'Columbae, Gamma' },
          { y: 579.1, x: 262.5, name: 'Copernicus, Alpha' },
          { y: 600.8, x: 263.1, name: 'Copernicus, Beta' },
          { y: 562.5, x: 252, name: 'Copernicus, Gamma' },
          { y: 33.3, x: 981.2, name: 'Copernicus, Beta' },
          { y: 6.2, x: 947.9, name: 'Copernicus, Gamma' },
          { y: 100, x: 939.5, name: 'Copernicus, Delta' },
          { y: 10.4, x: 912.5, name: 'Copernicus, Epsilon' },
          { y: 8.3, x: 997.9, name: 'Copernicus, Zeta' },
          { y: 102, x: 993.7, name: 'Copernicus, Eta' },
          { y: 601.4, x: 563.2, name: 'Crateris, Alpha' },
          { y: 610.7, x: 578.5, name: 'Crateris, Beta' },
          { y: 616.6, x: 600, name: 'Crateris, Gamma' },
          { y: 620, x: 593.5, name: 'Crateris, Delta' },
          { y: 630.1, x: 587.5, name: 'Crateris, Epsilon' },
          { y: 649.6, x: 603.2, name: 'Crateris, Zeta' },
          { y: 642.9, x: 595.8, name: 'Crateris, Eta' },
          { y: 621.5, x: 625.5, name: 'Crateris, Theta' },
          { y: 558.3, x: 629.1, name: 'Crucis, Alpha' },
          { y: 547.9, x: 668.7, name: 'Crucis, Beta' },
          { y: 525, x: 622.9, name: 'Crucis, Gamma' },
          { y: 543.7, x: 591.6, name: 'Crucis, Delta' },
          { y: 47.9, x: 458.3, name: 'Cygnus, Alpha' },
          { y: 47.9, x: 464.5, name: 'Cygnus, Beta' },
          { y: 56.2, x: 470.8, name: 'Cygnus, Gamma' },
          { y: 41.6, x: 471.7, name: 'Cygnus, Delta' },
          { y: 25, x: 458.3, name: 'Cygnus, Epsilon' },
          { y: 371.6, x: 645.8, name: 'Delphini, Alpha' },
          { y: 377, x: 650, name: 'Delphini, Beta' },
          { y: 218.7, x: 8.3, name: 'Deneb' },
          { y: 420.8, x: 685.4, name: 'Doradus, Alpha' },
          { y: 429.1, x: 693.7, name: 'Doradus, Beta' },
          { y: 277.1, x: 835.1, name: 'Draconis, Alpha' },
          { y: 282.2, x: 839.5, name: 'Draconis, Beta' },
          { y: 251.8, x: 805.6, name: 'Draconis, Gamma' },
          { y: 253.5, x: 835.8, name: 'Draconis, Delta' },
          { y: 283.6, x: 785.7, name: 'Draconis, Epsilon' },
          { y: 277.6, x: 867.3, name: 'Draconis, Zeta' },
          { y: 315.1, x: 839, name: 'Draconis, Eta' },
          { y: 327, x: 800, name: 'Draconis, Theta' },
          { y: 356.2, x: 825, name: 'Draconis, Iota' },
          { y: 245.8, x: 866.6, name: 'Draconis, Kappa' },
          { y: 236.2, x: 839.5, name: 'Draconis, Lambda' },
          { y: 231, x: 870.2, name: 'Draconis, Mu' },
          { y: 230, x: 886.1, name: 'Draconis, Nu' },
          { y: 258.8, x: 865.3, name: 'Draconis, Xi' },
          { y: 591, x: 662.4, name: 'Equulei, Alpha' },
          { y: 602, x: 672.9, name: 'Equulei, Beta' },
          { y: 587.5, x: 772.9, name: 'Eridani, Alpha' },
          { y: 595.8, x: 764.5, name: 'Eridani, Beta' },
          { y: 579.1, x: 758.3, name: 'Eridani, Gamma' },
          { y: 437.5, x: 856.2, name: 'Fomalhaut' },
          { y: 537.5, x: 787.5, name: 'Fornacis, Alpha' },
          { y: 564.5, x: 802, name: 'Fornacis, Beta' },
          { y: 587.5, x: 806.2, name: 'Fornacis, Gamma' },
          { y: 597.9, x: 797.9, name: 'Fornacis, Delta' },
          { y: 604.1, x: 791.6, name: 'Fornacis, Epsilon' },
          { y: 610.4, x: 800, name: 'Fornacis, Zeta' },
          { y: 618.7, x: 787.5, name: 'Fornacis, Eta' },
          { y: 495.8, x: 779.1, name: 'Geminorum, Alpha' },
          { y: 497.9, x: 779.1, name: 'Geminorum, Beta' },
          { y: 489.5, x: 745.8, name: 'Geminorum, Gamma' },
          { y: 464.5, x: 747.9, name: 'Geminorum, Delta' },
          { y: 84.3, x: 38, name: 'Giclas, Alpha' },
          { y: 84.3, x: 43.1, name: 'Giclas, Beta' },
          { y: 80.3, x: 33.7, name: 'Giclas, Gamma' },
          { y: 87.7, x: 34, name: 'Giclas, Delta' },
          { y: 95.8, x: 46.8, name: 'Giclas, Epsilon' },
          { y: 111.6, x: 33.4, name: 'Giclas, Zeta' },
          { y: 70.8, x: 4.1, name: 'Giclas, Eta' },
          { y: 67.5, x: 74.2, name: 'Giclas, Theta' },
          { y: 277.1, x: 14.6, name: 'Gorno, Alpha' },
          { y: 281.4, x: 8.9, name: 'Gorno, Beta' },
          { y: 293.9, x: 11.6, name: 'Gorno, Gamma' },
          { y: 290.8, x: 26.9, name: 'Gorno, Delta' },
          { y: 282, x: 30.1, name: 'Gorno, Epsilon' },
          { y: 996, x: 904.2, name: 'Groombridge' },
          { y: 227.4, x: 366.3, name: 'Gruis, Alpha' },
          { y: 214.8, x: 355.1, name: 'Gruis, Beta' },
          { y: 225, x: 370.8, name: 'Gruis, Gamma' },
          { y: 235.4, x: 374.1, name: 'Gruis, Delta' },
          { y: 241.6, x: 368.7, name: 'Gruis, Epsilon' },
          { y: 258.3, x: 375, name: 'Gruis, Zeta' },
          { y: 247.9, x: 395.8, name: 'Gruis, Eta' },
          { y: 160.4, x: 364.5, name: 'Herculis, Alpha' },
          { y: 175.8, x: 341.8, name: 'Herculis, Beta' },
          { y: 720.8, x: 754.1, name: 'Horologii, Alpha' },
          { y: 712.5, x: 725, name: 'Horologii, Beta' },
          { y: 720.8, x: 700, name: 'Horologii, Gamma' },
          { y: 736, x: 718.4, name: 'Horologii, Delta' },
          { y: 753.2, x: 725.8, name: 'Horologii, Epsilon' },
          { y: 744.3, x: 753.8, name: 'Horologii, Zeta' },
          { y: 739.5, x: 785.4, name: 'Horologii, Eta' },
          { y: 720, x: 784.9, name: 'Horologii, Theta' },
          { y: 708.3, x: 799.3, name: 'Horologii, Iota' },
          { y: 688.9, x: 780.3, name: 'Horologii, Kappa' },
          { y: 694, x: 751.4, name: 'Horologii, Lambda' },
          { y: 832.2, x: 893.4, name: 'Hyades, Alpha' },
          { y: 837.5, x: 895.8, name: 'Hyades, Beta' },
          { y: 837.5, x: 904.1, name: 'Hyades, Gamma' },
          { y: 824.9, x: 895.8, name: 'Hyades, Delta' },
          { y: 850, x: 912.5, name: 'Hyades, Epsilon' },
          { y: 850, x: 937.2, name: 'Hyades, Zeta' },
          { y: 845.8, x: 939.3, name: 'Hyades, Eta' },
          { y: 829.6, x: 954.8, name: 'Hyades, Theta' },
          { y: 800, x: 950.5, name: 'Hyades, Iota' },
          { y: 766.4, x: 958.9, name: 'Hyades, Kappa' },
          { y: 725.5, x: 937.4, name: 'Hyades, Lambda' },
          { y: 733.3, x: 650, name: 'Hydrae, Alpha' },
          { y: 781.2, x: 656.2, name: 'Hydrae, Beta' },
          { y: 816.6, x: 625, name: 'Hydrae, Gamma' },
          { y: 852, x: 416.6, name: 'Hyginus, Alpha' },
          { y: 864.5, x: 406.2, name: 'Hyginus, Beta' },
          { y: 656.2, x: 127, name: 'Hyperion' },
          { y: 235.4, x: 329.1, name: 'Illuminati, Alpha' },
          { y: 252, x: 343.7, name: 'Illuminati, Beta' },
          { y: 268.7, x: 333.3, name: 'Illuminati, Gamma' },
          { y: 235.4, x: 316.6, name: 'Illuminati, Delta' },
          { y: 272.7, x: 295.1, name: 'Illuminati, Epsilon' },
          { y: 245.8, x: 275, name: 'Illuminati, Zeta' },
          { y: 220.8, x: 285.4, name: 'Illuminati, Eta' },
          { y: 201.1, x: 304.3, name: 'Illuminati, Theta' },
          { y: 400, x: 136.3, name: 'Indi, Alpha' },
          { y: 395.8, x: 135.4, name: 'Indi, Beta' },
          { y: 581.2, x: 320.8, name: 'Kepler, Alpha' },
          { y: 562.5, x: 295.8, name: 'Kepler, Beta' },
          { y: 602, x: 297.9, name: 'Kepler, Gamma' },
          { y: 193.7, x: 997.9, name: 'Klystron, Alpha' },
          { y: 291.6, x: 954.1, name: 'Klystron, Beta' },
          { y: 30.4, x: 47.7, name: 'Krueger, Alpha' },
          { y: 53, x: 44.2, name: 'Krueger, Beta' },
          { y: 52.2, x: 52.5, name: 'Krueger, Gamma' },
          { y: 57, x: 28.9, name: 'Krueger, Delta' },
          { y: 26.5, x: 15.6, name: 'Krueger, Epsilon' },
          { y: 13.4, x: 56.5, name: 'Krueger, Zeta' },
          { y: 14.6, x: 95.5, name: 'Lacaille, Alpha' },
          { y: 23, x: 95.2, name: 'Lacaille, Beta' },
          { y: 24.2, x: 85.7, name: 'Lacaille, Gamma' },
          { y: 841.6, x: 808.3, name: 'Lacertae, Alpha' },
          { y: 822.9, x: 804.1, name: 'Lacertae, Beta' },
          { y: 349.9, x: 264.8, name: 'Lalande, Alpha' },
          { y: 340, x: 280.4, name: 'Lalande, Beta' },
          { y: 361.9, x: 283, name: 'Lalande, Gamma' },
          { y: 375.9, x: 277.8, name: 'Lalande, Delta' },
          { y: 462.5, x: 600, name: 'Lentilis, Alpha' },
          { y: 462.5, x: 589.5, name: 'Lentilis, Beta' },
          { y: 458.3, x: 604.1, name: 'Lentilis, Gamma' },
          { y: 472.9, x: 595.8, name: 'Lentilis, Delta' },
          { y: 900, x: 822.9, name: 'Leonis, Alpha' },
          { y: 943.7, x: 785.4, name: 'Leonis, Beta' },
          { y: 968.7, x: 733.3, name: 'Leonis, Gamma' },
          { y: 807.3, x: 858.8, name: 'Leporis, Alpha' },
          { y: 766.6, x: 866.6, name: 'Leporis, Beta' },
          { y: 718.7, x: 881.2, name: 'Leporis, Gamma' },
          { y: 735.4, x: 906.2, name: 'Librae, Alpha' },
          { y: 741.4, x: 912.4, name: 'Librae, Beta' },
          { y: 754.5, x: 910.7, name: 'Librae, Gamma' },
          { y: 779.1, x: 918.7, name: 'Librae, Delta' },
          { y: 779.1, x: 922.9, name: 'Librae, Epsilon' },
          { y: 783.3, x: 908.3, name: 'Librae, Zeta' },
          { y: 788.9, x: 918.1, name: 'Librae, Eta' },
          { y: 556.2, x: 864.5, name: 'Lipi, Alpha' },
          { y: 550, x: 839.5, name: 'Lipi, Beta' },
          { y: 547.5, x: 882.3, name: 'Lipi, Gamma' },
          { y: 564.5, x: 897.9, name: 'Lipi, Delta' },
          { y: 543.7, x: 827, name: 'Lipi, Epsilon' },
          { y: 425, x: 164.5, name: 'Luyten, Alpha' },
          { y: 433.3, x: 168.7, name: 'Luyten, Beta' },
          { y: 433.3, x: 156.2, name: 'Luyten, Gamma' },
          { y: 560, x: 955.2, name: 'Lyncis, Alpha' },
          { y: 571.1, x: 947.5, name: 'Lyncis, Beta' },
          { y: 578.1, x: 971.1, name: 'Lyncis, Gamma' },
          { y: 570.4, x: 979.5, name: 'Lyncis, Delta' },
          { y: 532.9, x: 953.8, name: 'Lyncis, Epsilon' },
          { y: 522.9, x: 972.9, name: 'Lyncis, Zeta' },
          { y: 598.9, x: 949.6, name: 'Lyncis, Eta' },
          { y: 612.5, x: 960.4, name: 'Lyncis, Theta' },
          { y: 191.6, x: 127, name: 'Lyrae, Alpha' },
          { y: 189.5, x: 104.1, name: 'Lyrae, Beta' },
          { y: 597.7, x: 524.6, name: 'Maksutov, Alpha' },
          { y: 627, x: 547.9, name: 'Maksutov, Beta' },
          { y: 481.2, x: 927, name: 'Menkar' },
          { y: 383.3, x: 318.7, name: 'Mensae, Alpha' },
          { y: 403, x: 288.7, name: 'Mensae, Beta' },
          { y: 464.5, x: 295.8, name: 'Mensae, Gamma' },
          { y: 260.4, x: 664.5, name: 'Mersenne, Alpha' },
          { y: 241.6, x: 729.1, name: 'Mersenne, Beta' },
          { y: 570.8, x: 460.4, name: 'Metis' },
          { y: 439.5, x: 997.9, name: 'Microscopii' },
          { y: 355.1, x: 232, name: 'Mira, Alpha' },
          { y: 367.8, x: 192.6, name: 'Mira, Beta' },
          { y: 388.4, x: 226.2, name: 'Mira, Gamma' },
          { y: 335.4, x: 235.4, name: 'Mira, Delta' },
          { y: 41.6, x: 130.1, name: 'Mizar' },
          { y: 387.5, x: 718.7, name: 'Monocerotis, Alpha' },
          { y: 385.4, x: 729.1, name: 'Monocerotis, Beta' },
          { y: 112.5, x: 779.1, name: 'Muscae, Alpha' },
          { y: 104.1, x: 770.8, name: 'Muscae, Beta' },
          { y: 102, x: 718.7, name: 'Muscae, Gamma' },
          { y: 139.5, x: 804.1, name: 'Muscae, Delta' },
          { y: 152, x: 833.3, name: 'Muscae, Epsilon' },
          { y: 112.5, x: 858.3, name: 'Muscae, Zeta' },
          { y: 142.5, x: 540.4, name: 'Normae, Alpha' },
          { y: 141.6, x: 531.5, name: 'Normae, Beta' },
          { y: 152, x: 526.1, name: 'Normae, Gamma' },
          { y: 161.3, x: 527.9, name: 'Normae, Delta' },
          { y: 185.4, x: 541.6, name: 'Normae, Epsilon' },
          { y: 215.9, x: 561.4, name: 'Normae, Zeta' },
          { y: 157.8, x: 666.8, name: 'Octantis, Alpha' },
          { y: 136, x: 648.9, name: 'Octantis, Beta' },
          { y: 27, x: 218.7, name: 'Olber, Alpha' },
          { y: 12.5, x: 222.9, name: 'Olber, Beta' },
          { y: 31.2, x: 225, name: 'Olber, Gamma' },
          { y: 43.7, x: 877, name: 'Ophiuchi, Alpha' },
          { y: 47.9, x: 887.5, name: 'Ophiuchi, Beta' },
          { y: 33.3, x: 891.6, name: 'Ophiuchi, Gamma' },
          { y: 685.8, x: 57.7, name: 'Organon' },
          { y: 190.2, x: 606.5, name: 'Orionis, Alpha' },
          { y: 197.8, x: 596.8, name: 'Orionis, Beta' },
          { y: 192.3, x: 587.8, name: 'Orionis, Gamma' },
          { y: 171.4, x: 592.6, name: 'Orionis, Delta' },
          { y: 154.5, x: 581.8, name: 'Orionis, Epsilon' },
          { y: 155.8, x: 605.8, name: 'Orionis, Zeta' },
          { y: 179.5, x: 632.9, name: 'Orionis, Eta' },
          { y: 188.1, x: 630.8, name: 'Orionis, Theta' },
          { y: 211.8, x: 637.9, name: 'Orionis, Iota' },
          { y: 220, x: 617.6, name: 'Orionis, Kappa' },
          { y: 215.9, x: 607.3, name: 'Orionis, Lambda' },
          { y: 222.8, x: 603.8, name: 'Orionis, Mu' },
          { y: 56.2, x: 800, name: 'Pavonis, Alpha' },
          { y: 68.7, x: 800, name: 'Pavonis, Beta' },
          { y: 33.3, x: 762.5, name: 'Pegasi, Alpha' },
          { y: 39.5, x: 745.8, name: 'Pegasi, Beta' },
          { y: 929.1, x: 258.3, name: 'Persei, Alpha' },
          { y: 947.9, x: 266.6, name: 'Persei, Beta' },
          { y: 933.3, x: 279.1, name: 'Persei, Gamma' },
          { y: 925, x: 285.4, name: 'Persei, Delta' },
          { y: 903.8, x: 240.7, name: 'Persei, Epsilon' },
          { y: 946.9, x: 280.6, name: 'Persei, Zeta' },
          { y: 889.5, x: 268.7, name: 'Persei, Eta' },
          { y: 937.5, x: 241.6, name: 'Persei, Theta' },
          { y: 887.5, x: 231.2, name: 'Persei, Iota' },
          { y: 941.6, x: 439.5, name: 'Phoenicis, Alpha' },
          { y: 957.3, x: 418.2, name: 'Phoenicis, Beta' },
          { y: 981.2, x: 414.5, name: 'Phoenicis, Gamma' },
          { y: 933.3, x: 370.8, name: 'Pictoris, Alpha' },
          { y: 931.2, x: 356.2, name: 'Pictoris, Beta' },
          { y: 937.5, x: 360.4, name: 'Pictoris, Gamma' },
          { y: 959.9, x: 358.3, name: 'Pictoris, Delta' },
          { y: 843.7, x: 345.8, name: 'Piscium, Alpha' },
          { y: 879.1, x: 354.1, name: 'Piscium, Beta' },
          { y: 870.8, x: 362.5, name: 'Piscium, Gamma' },
          { y: 877, x: 345.8, name: 'Piscium, Delta' },
          { y: 565.2, x: 9.8, name: 'Pollux' },
          { y: 74.2, x: 226.8, name: 'Procyon' },
          { y: 200.4, x: 44.1, name: 'Ptolemae, Alpha' },
          { y: 205.8, x: 47.5, name: 'Ptolemae, Beta' },
          { y: 210, x: 55.4, name: 'Ptolemae, Gamma' },
          { y: 215.6, x: 44, name: 'Ptolemae, Delta' },
          { y: 185.5, x: 27, name: 'Ptolemae, Epsilon' },
          { y: 178.7, x: 33.8, name: 'Ptolemae, Zeta' },
          { y: 174, x: 42.3, name: 'Ptolemae, Eta' },
          { y: 812.5, x: 308.3, name: 'Puppis, Alpha' },
          { y: 829.1, x: 297.9, name: 'Puppis, Beta' },
          { y: 827, x: 295.8, name: 'Puppis, Gamma' },
          { y: 895.8, x: 500, name: 'Pyxidis, Alpha' },
          { y: 900, x: 500, name: 'Pyxidis, Beta' },
          { y: 906.2, x: 508.3, name: 'Pyxidis, Gamma' },
          { y: 284, x: 167.6, name: 'Raynet, Alpha' },
          { y: 288.1, x: 161.4, name: 'Raynet, Beta' },
          { y: 279.1, x: 189.5, name: 'Raynet, Gamma' },
          { y: 373.2, x: 106.7, name: 'Regulus' },
          { y: 731.2, x: 506.2, name: 'Reticuli, Alpha' },
          { y: 702, x: 529.1, name: 'Reticuli, Beta' },
          { y: 741.6, x: 508.3, name: 'Reticuli, Gamma' },
          { y: 725, x: 458.3, name: 'Reticuli, Delta' },
          { y: 210.4, x: 208.3, name: 'Rigel' },
          { y: 25, x: 568.7, name: 'Sagittae, Alpha' },
          { y: 37.1, x: 577.2, name: 'Sagittae, Beta' },
          { y: 15.2, x: 590, name: 'Sagittae, Gamma' },
          { y: 683.3, x: 200, name: 'Sagittarii, Alpha' },
          { y: 702, x: 239.5, name: 'Sagittarii, Beta' },
          { y: 708.3, x: 277, name: 'Sagittarii, Gamma' },
          { y: 656.2, x: 302, name: 'Sagittarii, Delta' },
          { y: 230.6, x: 228.5, name: 'Saurus, Alpha' },
          { y: 240.2, x: 230.9, name: 'Saurus, Beta' },
          { y: 229.8, x: 238.5, name: 'Saurus, Gamma' },
          { y: 646.7, x: 187.8, name: 'Scorpii, Alpha' },
          { y: 650, x: 191.6, name: 'Scorpii, Beta' },
          { y: 647.9, x: 206.2, name: 'Scorpii, Gamma' },
          { y: 603.6, x: 203.5, name: 'Scorpii, Delta' },
          { y: 629.1, x: 220.8, name: 'Scorpii, Epsilon' },
          { y: 650, x: 220.8, name: 'Scorpii, Zeta' },
          { y: 604.1, x: 156.2, name: 'Sculptoris, Alpha' },
          { y: 608.3, x: 162.5, name: 'Sculptoris, Gamma' },
          { y: 581.2, x: 120.8, name: 'Sculptoris, Delta' },
          { y: 570.8, x: 152, name: 'Sculptoris, Epsilon' },
          { y: 503.9, x: 37.3, name: 'Scuti, Alpha' },
          { y: 501.4, x: 58.4, name: 'Scuti, Beta' },
          { y: 525.6, x: 60.8, name: 'Scuti, Gamma' },
          { y: 516, x: 28, name: 'Scuti, Delta' },
          { y: 533.8, x: 35.5, name: 'Scuti, Epsilon' },
          { y: 531.3, x: 15, name: 'Scuti, Zeta' },
          { y: 491.1, x: 18, name: 'Serpentis, Alpha' },
          { y: 486.1, x: 26.2, name: 'Serpentis, Beta' },
          { y: 492.3, x: 29.4, name: 'Serpentis, Gamma' },
          { y: 474.7, x: 22.1, name: 'Serpentis, Delta' },
          { y: 487.2, x: 40.8, name: 'Serpentis, Epsilon' },
          { y: 500.7, x: 3.5, name: 'Serpentis, Zeta' },
          { y: 471.4, x: 7.8, name: 'Serpentis, Eta' },
          { y: 452.9, x: 16.9, name: 'Serpentis, Theta' },
          { y: 459.6, x: 42.9, name: 'Serpentis, Iota' },
          { y: 433.7, x: 106.6, name: 'Sextantis, Alpha' },
          { y: 460.4, x: 118.7, name: 'Sextantis, Beta' },
          { y: 487.5, x: 114.5, name: 'Sextantis, Gamma' },
          { y: 487.3, x: 96.8, name: 'Sextantis, Delta' },
          { y: 477, x: 89.5, name: 'Sextantis, Epsilon' },
          { y: 468.1, x: 91.6, name: 'Sextantis, Zeta' },
          { y: 180.6, x: 150.7, name: 'Sirius' },
          { y: 175.2, x: 145, name: 'Sol' },
          { y: 214.5, x: 391.6, name: 'Squidi, Alpha' },
          { y: 206.2, x: 399.1, name: 'Squidi, Beta' },
          { y: 214.5, x: 420.8, name: 'Squidi, Gamma' },
          { y: 22.9, x: 366.6, name: 'Tauri, Alpha' },
          { y: 28.8, x: 373.5, name: 'Tauri, Beta' },
          { y: 26.7, x: 364.5, name: 'Tauri, Gamma' },
          { y: 16.6, x: 377, name: 'Tauri, Delta' },
          { y: 14.9, x: 351.9, name: 'Tauri, Epsilon' },
          { y: 9, x: 361.4, name: 'Tauri, Zeta' },
          { y: 28.5, x: 402, name: 'Telescopii, Alpha' },
          { y: 29.1, x: 410.4, name: 'Telescopii, Beta' },
          { y: 50, x: 418.7, name: 'Telescopii, Gamma' },
          { y: 793.4, x: 31.8, name: 'Trianguli, Alpha' },
          { y: 795.8, x: 27, name: 'Trianguli, Beta' },
          { y: 806.2, x: 31.8, name: 'Trianguli, Gamma' },
          { y: 400, x: 543.7, name: 'Tucanae, Alpha' },
          { y: 393.7, x: 562.5, name: 'Tucanae, Beta' },
          { y: 408.3, x: 551.3, name: 'Tucanae, Gamma' },
          { y: 33.3, x: 975, name: 'Vega' },
          { y: 334.5, x: 193.1, name: 'Vela' },
          { y: 86, x: 406.5, name: 'Velorum, Alpha' },
          { y: 92.6, x: 397.2, name: 'Velorum, Beta' },
          { y: 29.1, x: 325, name: 'Virginis, Alpha' },
          { y: 50.1, x: 325.9, name: 'Virginis, Beta' },
          { y: 79.1, x: 327, name: 'Virginis, Gamma' },
          { y: 110.4, x: 333.3, name: 'Virginis, Delta' },
          { y: 300, x: 350, name: 'Vitalis, Alpha' },
          { y: 318.7, x: 337.5, name: 'Vitalis, Beta' },
          { y: 308.3, x: 367.4, name: 'Vitalis, Gamma' },
          { y: 277, x: 362.5, name: 'Vitalis, Delta' },
          { y: 95.1, x: 177, name: 'Volantis, Alpha' },
          { y: 114, x: 184.7, name: 'Volantis, Beta' },
          { y: 104.8, x: 191.9, name: 'Volantis, Gamma' },
          { y: 97.7, x: 195.3, name: 'Volantis, Delta' },
          { y: 70.5, x: 183.8, name: 'Volantis, Epsilon' },
          { y: 73.6, x: 173.7, name: 'Volantis, Zeta' },
          { y: 65, x: 164.6, name: 'Volantis, Eta' },
          { y: 365.4, x: 258.7, name: 'Vulpeculae, Alpha' },
          { y: 364.1, x: 251.2, name: 'Vulpeculae, Beta' },
          { y: 371.3, x: 253.7, name: 'Vulpeculae, Gamma' },
          { y: 372.1, x: 261.9, name: 'Vulpeculae, Delta' },
          { y: 366.8, x: 266.6, name: 'Vulpeculae, Epsilon' },
          { y: 360.8, x: 263.7, name: 'Vulpeculae, Zeta' },
          { y: 358.7, x: 256.6, name: 'Vulpeculae, Eta' },
          { y: 160.1, x: 174.6, name: 'Wolf, Alpha' },
          { y: 166.6, x: 181.2, name: 'Wolf, Beta' },
          { y: 335.2, x: 194, name: 'Zeeman' }
        ]
      },
      computed: {
        result: function() {
          if (this.keyword === '') return this.list
          var reg = new RegExp(this.keyword, 'i')
          return this.list.filter(function(x) {
            return x.name.search(reg) !== -1
          })
        }
      },
      mounted: function() {
        var map = L.map('map', {
          crs: L.CRS.Simple
        })

        var bounds = [[-26.5, -25], [1021.5, 1023]]
        var image = L.imageOverlay('uqm_map_full.png', bounds).addTo(map)
        map.fitBounds(bounds)
        map.setView([145, 175.2], 1)
        this.map = map
      },
      methods: {
        locate: function(x, y, name) {
          var map = this.map
          if (this.marker) this.marker.remove()
          var pos = L.latLng([x, y])
          this.marker = L.marker(pos)
            .addTo(map)
            .bindPopup(name)
          map.setView([x, y], 1)
        }
      }
    })
  </script>
</html>
